<%= form_for(@entregador) do |f| %>
  <% if @entregador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entregador.errors.count, "error") %> prohibited this entregador from being saved:</h2>

      <ul>
      <% @entregador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :filial %><br />
    <%= f.text_field :filial %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
