<h1>Listing entregadors</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Filial</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entregadors.each do |entregador| %>
  <tr>
    <td><%= entregador.nome %></td>
    <td><%= entregador.filial %></td>
    <td><%= link_to 'Show', entregador %></td>
    <td><%= link_to 'Edit', edit_entregador_path(entregador) %></td>
    <td><%= link_to 'Destroy', entregador, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entregador', new_entregador_path %>
