<h1>Listando entregadores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Filial</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entregadors.each do |entregador| %>
  <tr>
    <td><%= entregador.nome %></td>
    <td><%= entregador.filial %></td>
    <td><%= link_to 'Exibir', entregador %></td>
    <td><%= link_to 'Editar', edit_entregador_path(entregador) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Entregador', new_entregador_path %>
