<% if @cecs.empty? %>
	<h1>Nenhum CEC</h1>
<% else %>
	<h1>CEC's de <%= @cecs.first.data_da_entrega.strftime('%d/%m') %> (<%= @cecs.size %>) <%= "até " + @cecs.last.data_da_entrega.strftime('%d/%m') unless @cecs.last.data_da_entrega == @cecs.first.data_da_entrega %></h1>

	<%= form_tag('/cecs/seleciona_entregador') do |f|%>
	<table>
	<% @entregador_atual = nil %>
	<% @cecs.each do |cec| %>
		<% if cec.entregador != @entregador_atual %>
			</table>
			<% if !cec.entregador.nil? %>
				<h2 class="entregador"><%= cec.entregador.nome %> de <%= @cecs.first.data_da_entrega.strftime('%d/%m') %> </h2>
			<% else %>
				<h2>Sem entregador definido</h2>
			<% end %>
			<table>
		<% end %>
		<tr>
			<td>CEC<br/><%= cec.filial %>/<%= cec.id %></td>
			<td>REQ<br/><%= link_to cec.numero_do_pedido, cec%><br/>
				<i><%= cec.user.username if cec.user %></i>
				</td>
			<td><%= link_to cec.nome_do_cliente, cec %><br/>
				<i>Endereço <%= cec.comercial? ? "Comercial" : "Residencial" %></i><br/>
			  	<%= cec.endereco %>, <%= cec.numero %><%= " - " + cec.complemento if cec.complemento%><br/>
			  	<%= cec.bairro %> - <%= cec.cidade %><br/>
			  	CEP: <b><%= cec.cep %></b>
				</td>
			<td>Distância<br/><i><%= number_with_precision(cec.distancia_da_farmacia, :precision => 3, :separator => " Km e ") %> m</i></td>
			<td><%= cec.data_da_entrega.strftime("%d/%m") %></td>
			<td>R$<%= number_with_precision(cec.valor, :precision => 2) %><br/>
				<%= cec.forma_de_pagamento %></td>
			<td>
				<% Entregador.where(:filial => cec.filial, :ativo => true).find(:all).each do |e| %>
					<%= radio_button_tag "entregador_cec[#{cec.id}]", e.id, (cec.entregador and cec.entregador.id == e.id) %><%= e.nome %><br/>
				<% end %>
			</td>
			<% @entregador_atual = cec.entregador %>
		</tr>
	<% end %>
	</table>
		<%= submit_tag "Salvar divisão de entregadores"%>
	<% end %>
<% end %>
<%= link_to 'Novo Cec', new_cec_path %>
