<p id="notice"><%= notice %></p>

  <h2>Cliente: <%= @cec.nome_do_cliente %> - CEC nº <%= @cec.filial %>/<%= @cec.id %></h2>

  <h3>VALOR: R$ <%= number_with_precision(@cec.valor, :precision => 2) %> <%= @cec.forma_de_pagamento %></h3>

  <h3><%= @cec.data_da_entrega.strftime("%d/%m/%y") %> - REQ(s): <%= @cec.numero_do_pedido %></h3>

<p>
  <i>Endereço <%= @cec.comercial? ? "Comercial" : "Residencial" %></i><br/>
  <%= @cec.endereco %>, <%= @cec.numero %><%= " - " + @cec.complemento if @cec.complemento %><br/>
  <%= @cec.bairro %> - <%= @cec.cidade %><br/>
  CEP: <b><%= @cec.cep %></b><br/>
  <i><%= number_with_precision(@cec.distancia_da_farmacia, :precision => 3, :separator => " Km e ") %> metros de distancia</i>
</p>

<p>
  Atendente: <i><%= @cec.user.username if @cec.user %></i><br/>
  Obs.: <i><%= @cec.observacao %></i>
</p>

<%= raw(@map.to_html) %>
<div style="width: 600px; height: 440px;">
	<%= raw(@map.div) %>
</div>

<span class="links">
<%= link_to 'Editar', edit_cec_path(@cec) %> |
<% if current_user.respond_to?("admin?") and current_user.admin? %><%= link_to 'Excluir', cec_path(@cec), :method => :delete, :confirm => "Tem certeza?" %> |<% end %>
<%= link_to 'Voltar', cecs_path %>
</span>